<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Reporttest" verbose="1" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

<test name="Test FF">
    <parameter name="browser" value="Chrome"></parameter>
    <parameter name="baseURL1" value="http://wipro.annectos.net"></parameter>
    <classes>
            <class name="com.Annectos.Webdriver.TestCases.HomePageTestCases" />
    </classes>
</test>
</suite>